/* ==|====================
   Layout/Main
   ======================= */
body {
  font-family: $font1;
  background-color: $body-background;
  text-align: center;
}

.movie-game-container {
  max-width: 512px;
  margin: 0 auto;
  padding: 10px;
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    max-width: 800px;
  }
  @media only screen and (min-height: 900px) and (min-width: 1200px) {
    max-width: 1024px;
  }
}
