/* Base */
/* ===========================
   Base
   =========================== */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.alignright {
  float: right; }

.alignleft {
  float: left; }

.clear {
  clear: both; }

.hidden {
  display: none; }

/* ==|====================
   Layout/Main
   ======================= */
body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: #ebebeb;
  text-align: center; }

.movie-game-container {
  max-width: 512px;
  margin: 0 auto;
  padding: 10px; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .movie-game-container {
      max-width: 700px; } }
  @media only screen and (min-height: 900px) and (min-width: 1200px) {
    .movie-game-container {
      max-width: 1024px; } }

.mui-table {
  margin-top: 55px; }

.mui-header-table {
  position: absolute;
  padding-right: 10px; }

.mui-header-table,
.mui-table-wrapper {
  max-width: 512px;
  max-height: 480px;
  margin: 0 auto; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .mui-header-table,
    .mui-table-wrapper {
      max-width: 700px;
      max-height: 566px; } }
  @media only screen and (min-height: 900px) and (min-width: 1200px) {
    .mui-header-table,
    .mui-table-wrapper {
      max-width: 1024px;
      max-height: 768px; } }

.mui-header-table .mui-table-header-row :first-of-type {
  width: 0px !important; }
