.poster-image {
  min-height: 288px;
  @media only screen and (min-width : 320px),
         only screen and (max-width : 480px) {
          min-height: 169px;
        }
  @media only screen and (min-width : 375px),
         only screen and (max-width : 667px) {
          min-height: 200px;
        }
  @media only screen and (min-width : 414px),
         only screen and (max-width : 736px) {
          min-height: 222px;
        }
  @media only screen and (min-height: 900px) and (min-width: 1200px) {
          min-height: 576px;
        }
}
