.movie-game-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px;
}

.stats-container,
.guess-container {
  min-height: 300px;
}

.stats-container {
  width: 33%;
  .stats-container__ul {
    list-style: none;
    text-align: left;
  }
}

.guess-input {
  width: 30%;
  margin: 2em auto 0;
  color: #777;
  background: #fff;
  border: 1px solid #ddd;
  padding: .5em 0;
}

.result-list {
  list-style: none inside;
  width: 30%;
  margin: 0 auto 2em;
  text-align: left;
  color: #777;
  background: #fff;
  border: 1px solid #ddd;
  li {
    padding: .5em 0;
    border-bottom: 1px solid #eee;
  }
  strong {
    color: #444;
  }
}

.hidden {
  display: none;
}
.guess-container {
  width: 66%;
}

